.s01 {
  color: #ff8533;
}

.s01 h1, .s01 h2 {
  text-align: center;
}

.s01 footer {
  display: none;
  bottom: -100000px;
}

.brand-white {
  margin-top: 8rem;
  width: 64px;
  height: auto;
}

.brand-white-small {
  width: 20px;
  height: auto;
}

footer {
  position: fixed;
  bottom: -2cm;
  text-align: center;
  padding: 0.25rem 1rem;
  font-size: 0.6rem;
  left: 0;
  right: 0;
  color: #999;
  border-top: 1px solid #ccc;
  line-height: 1.5rem;
}